body {
  font-size: 16px;
  margin: 0 !important;
  overflow-x: hidden;
}
/* 애니메이션 up */
.animatedup {
  opacity: 0; /* 초기에 숨겨진 상태로 설정 */
  transform: translateY(50px); /* 아래로 이동하는 변환 설정 */
  transition: opacity 1s ease, transform 2s ease; 
}

.animatedup.in-view {
  opacity: 1; /* 화면에 나타날 때 투명도를 1로 변경 */
  transform: translateY(0); /* 화면에 나타날 때 변환 초기값으로 복원 */
}

/* 애니메이션 down */
.animateddown {
  opacity: 0; /* 초기에 숨겨진 상태로 설정 */
  transform: translateY(-50px); /* 아래로 이동하는 변환 설정 */
  transition: opacity 1s ease, transform 2s ease; 
}

.animateddown.in-view {
  opacity: 1; /* 화면에 나타날 때 투명도를 1로 변경 */
  transform: translateY(0); /* 화면에 나타날 때 변환 초기값으로 복원 */
}

.animatedright {
  opacity: 0; /* 초기에 숨겨진 상태로 설정 */
  transform: translateX(-60px);
  transition: opacity 1s ease, transform 2s ease; 
}

.animatedright.in-view {
  opacity: 1; /* 화면에 나타날 때 투명도를 1로 변경 */
  transform: translateX(0); /* 화면에 나타날 때 변환 초기값으로 복원 */
}

/* CSS Keyframes를 사용한 글자 위아래 움직임 애니메이션 */
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* 이 값은 글자가 움직이는 거리를 조절합니다. */
  }
}
/* 추가로 필요한 스타일 속성들을 여기에 추가할 수 있습니다. */

/* justify-content: flex-end; */
/* 2section sec2 2섹션 스타일  */
.bluebackground {
  background-size: cover;
  background-image: url('/image/blue.png');
}
.yellow-box {
  width: 6.5em;  /* 네모 상자의 너비 설정 */
  height: 1.5em;  /* 네모 상자의 높이 설정 */
  background-color: rgb(255, 194, 0);  /* 노란색 배경색 설정 */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 8vw;
  margin-left: 11vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* yellow 초록박스 텍스트 스타일 */
.yellow-box-text {
  color: black;  /* 검정색 글자색 설정 */
  font-size: 1em;  /* 글자 크기 설정 */
  font-weight: bold;
}

/* 2섹션 Follow 텍스트 스타일 */
.subtitle {
  padding: none;
  font-size: 4.7vw;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  color: white;
  margin-left: 11vw;
}

/* 2섹션 innovation 텍스트 스타일 */
.description {
  font-size: 2vw;
  color: white;
  margin-left: 11vw;
}

/* 2섹션 history box 텍스트 스타일 */
.topics-container {
  display: flex;
  justify-content: space-between;
  margin-left: 1em;
    @media screen and (width >= 800px) {
      margin-left: 12vw;
      margin-right: 12vw;
    }
}

/* 2섹션 historyof 글 텍스트 스타일 */
.topic-title,
.topic-number {
  margin: 0 3vh 0 0;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 800px) {
    margin-right: 0.2em;
  }
}

.topic-title {
  margin-top: 3em;
  color: rgb(255, 194, 0);

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 900px) {
    font-size: 0.8em;
  }
}

.topic-number {
  color: white;
  font-weight: bold;
  font-size: 5.2em;
  margin-bottom: 0.3em;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1400px) {
    font-size: 5.5vw;
  }
}

.section2-icon .section2icon-description {
  transition: color 0.5s ease;
  /* 색상 변화 시간과 속도 설정 */
}

.section2-icon:hover .section2icon-description {
  color: rgb(0, 104, 232);
}

/* 3section sec3 */

/*3섹션 타이틀 스타일*/
.title {
  margin-top: 6vh;
  margin-left: 10vw;
  font-weight: bold;
  font-size: 3.5em;
  font-family: 'Playfair Display', serif;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 800px) {
    font-size: 5vw;
  }
}

.sec3description {
  margin-bottom: 6vh;
  margin-left: 10vw;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 800px) {
    font-size: 4vw;
  }
}

/* 3섹션 이미지 컨테이너 스타일 */
.image-container {
  cursor: pointer;  /* 포인터 커서로 변경 */
  overflow: hidden;
  justify-content: center;
  display: flex;
  width: 100%;  /* 컨테이너의 너비를 화면 너비에 맞춥니다. */
  object-fit: cover;  /* 이미지가 잘리지 않고 화면에 맞게 크기 조정 */
}

/* 3섹션 이미지 스타일 */
.image-container img {
  height: 44em;  /*높이 설정 */
  max-width: 100%;
}

.image-button {
  text-decoration: none;
  display: flex;
  max-width: 100%;  /* 이미지 버튼의 너비를 100%로 설정 */
}

.image-overlay {
  position: absolute;
  margin-top: 35em;
  margin-left: 2em;
  background: transparent;  /* 투명한 배경 */
  color: white;
  max-width: 100%;
  text-align: left;  /* 왼쪽 정렬 */

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 700px){
    margin-left: 2vw; /* 여백 추가 */
    margin-bottom: 2vw; /* 여백 추가 */
  }
}
.image-text {
}

.place {
  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 700px) {
    font-size: 2vw;
  }
}

.building {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
  white-space: pre;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1550px) {
    font-size: 1.2vw;
  }
}

.hoverimage-container {
  position: relative;
  overflow: hidden;
}

.hoverimage-overlay {
  position: absolute;
  bottom: -30%;
  width: 100%;
  background: yellow;  /* 노란색 배경 */
  color: black;
  text-align: left;  /* 왼쪽 정렬 */
  padding: 2.2rem;  /* 여백 추가 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* fadein 애니메이션 효과 설정 */
  opacity: 0;  /* 처음에는 안 보이게 설정 */
  transition: opacity 2s ease, bottom 2s ease;
}

.hoverimage-container:hover .hoverimage-overlay {
  bottom: 0;  /* 호버 상태에서 0으로 이동 (보여짐) */
  opacity: 1;
}

.hoverbuilding {
  font-size: 1.5em;
  font-weight: bold;
}

/* 3섹션 "hover read more" 버튼 스타일 */
.hoverread-more-button {
  background-color: transparent;  /* 배경색 투명 설정 */
  margin-top: 1.5em;
  border: none;  /* 테두리 제거 */
  cursor: pointer;
}

.hoverread-more-button:hover .hoverread-more-text {
  letter-spacing: 0.3em;  /* 마우스 호버 시 letter-spacing를 증가시킵니다. */
}

/* 3섹션 "hoverread more" 버튼 텍스트 스타일 */
.hoverread-more-text {
  color: orange;  /* 텍스트 색상 설정 */
  font-size: 1.5em;  /* 텍스트 크기 설정 */
  margin-right: 1.2em;  /* 우측 여백 설정 */
  transition: letter-spacing 0.5s ease;  /* 호버 시 letter-spacing에 효과를 추가합니다. */
}

/* 3섹션 "hoverread more" 화살표 아이콘 스타일 */
.hoverarrow-icon {
  font-size: 24px;  /* 아이콘 크기 설정 */
  color: orange;
  font-weight: bold;
}

/* 4section sec4 */
.news-list {
  margin-top: 2vh;
}

.news-row {
  display: flex;
  text-align: left;
  justify-content: space-around;
  margin: 0 5em 0 5.2em;

}

/* 뉴스 아이템들 스타일 */
.news-item {
  background-color: transparent;
  text-decoration: none;
  width: 33%;
  margin: 0 1em 2em 1em;
  cursor: pointer;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-height: 600px) {
    margin: 0 0 10px 0;
  }
}

.news-item:hover .news-more-link {
  letter-spacing: 0.2em;  /* 마우스 호버 시 letter-spacing를 증가시킵니다. */
}

.news-item:hover .news-title {
  transition: color 0.2s ease;
  color: rgb(0, 104, 232);  /* 호버 시 텍스트 색상을 파랑색으로 변경 */
}

/* 뉴스 박스 스타일 */
.news-box {
  width: 3.5em;  /* 네모 상자의 너비 설정 */
  height: 1.6em;  /* 네모 상자의 높이 설정 */
  background-color: rgb(0, 104, 232);  /* 파랑색 배경색 설정 */
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 500px) {
    width: 11vw;    /* 네모 상자의 너비 설정 */
    height: 5vw;    /* 네모 상자의 높이 설정 */
  }
  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 600px) {
    width: 8.7vw;    /* 네모 상자의 너비 설정 */
    height: 3.7vw;    /* 네모 상자의 높이 설정 */
  }
}

/* 뉴스 스타일 */
.news-text {
  color: white;  /* 흰색 글자색 설정 */
  font-size: 1em;  /* 글자 크기 설정 */

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 600px) {
    font-size: 2.6vw;
  }
}

.news-title {
  font-size: 1em;
  color: gray;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1000px) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
  }
  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-height: 650px) {
    margin: 3px 0 0 0;
  }
}

/* read more link 스타일 */
.news-more-link {
  font-size: 1.13em;
  color: #FFC217;
  transition: letter-spacing 0.5s ease;  /* 호버 시 letter-spacing에 효과를 추가합니다. */

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 500px) {
    font-size: 2vw;
  }
  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 600px) {
    font-size: 0.7em;
  }
}

/* 4섹션 "read more" 화살표 아이콘 스타일 */
.arrow-icon {
  font-size: 24px;  /* 아이콘 크기 설정 */
  margin-left: 0.7em;
  color: #FFC217;
  font-weight: bold;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 500px) {
    font-size: 2vw;
  }
  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 600px) {
    font-size: 0.7em;
  }
}

.newsbutton-container {
  justify-content: space-evenly;
  margin: 0 auto;  /* 가운데 정렬을 위해 텍스트 정렬을 사용합니다. */
  border: solid gray 1px;
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;  /* 버튼과 내용 사이의 간격을 조절합니다. */
  width: 98%;
  display: flex;

  @media screen and (min-height: 800px) {
    margin-bottom: 5em;    /* 버튼과 내용 사이의 간격을 조절합니다. */
  }
}

.newsbutton {
  display: flex;
  max-width: 100%;
  padding: none;
  transition: transform 0.3s ease;  /* 마우스 호버 시 경계에 커지는효과를 추가합니다. */
}

.newsbutton:hover {
  transform: scale(1.1);
}

.newsbutton img {
  max-width: 100%;
 border-radius: 20px;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-height: 450px) {
    width: 15em;
    height: 8em;
  }

}

/* 5section */
.sec5title {
  font-size: 2em;
  margin-bottom: 0.7em;
  text-align: center;
  color: gray;

  @media only screen and (max-width: 800px) {
    font-size: 4.15vw;
  }
  @media only screen and (max-height: 600px) {
    font-size: 2vw;
  }
}

.bold-text {
  font-weight: bold;
}

.searchheerim-container {
  background-color: rgb(0, 104, 232);
  width: 100vw;
  padding-top: 4vh;
}

.search-title {
  margin-left: 2.6em;
  font-size: 4.6em;
  font-weight: bold;
  color: #FFC200;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1250px) {
    font-size: 4em;
    margin-left: 15vw;
  } /* 쓸모없는 코드? */

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1000px) {
    font-size: 5vw;
  }
}

.search-title2 {
  font-size: 4.6em;
  font-weight: bold;
  color: white;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1250px) {
    font-size: 4em;
  } /* 쓸모없는 코드? */
  @media screen and (max-width: 1000px) {
    font-size: 5.8vw;
  }
}

.searchsub {
  margin-left: 11em;
  font-size: 1.1em;
  color: #CACACA;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1000px) {
    font-size: 5.8vw;
  }
  @media screen and (max-width: 1250px) {
    font-size: 1em;
    margin-left: 15vw;
  }
}
.searchheerim {
}

/* 검색 입력란 스타일링 */
.searchheerim-input {
  background: transparent;/* 투명 배경 추가 */
  border: none;
  border-bottom: 0.3em solid white;/* 하단 테두리 추가 (선택 사항) */
  width: 60%;/* 검색창의 가로 너비 조정 */
  font-size: 1.2em;/* 폰트 크기 키우기 */
  margin-bottom: 0.85em;
  padding-left: 1.2em;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1250px) {
    width: 50vw; /* 검색창의 가로 너비 조정 */
    margin-left: 15vw;
  }
}

.searchheerim-input::placeholder {
  color: white;
}

.searchtag-keywords {
  padding: 10vh 0 12vh 12em;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1250px) {
    font-size: 1.5vw;
    padding: 1vw 0 2vw 14.5vw;
  }
}

/*검색태그 키워드 버튼*/
.searchtag-button {
  border: none;  /* 외곽선 없애기 */
  font-size: 1em;
  background-color: transparent;
  border-radius: 50px;  /* 50px 반지름으로 둥글게 */
  margin: 0 0.5em 0 0;  /* 버튼 간격 설정 */
}

.searchtag-button a {
  color: #CACACA;
  text-decoration: none;
  transition: color 0.3s;  /* 글자색 전환 애니메이션 */

  /* 호버 상태일 때 글자색 변경 */
  &:hover {
    color: white;
  }
}

.bottom {
  margin-top: 6vh;
}

.seoulhqsupport {
  display: flex;
  margin-bottom: 5vh;
margin-left: 12em;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1250px) {
    flex-direction: column;
    margin-bottom: 2em;
    margin-left: 7em;
  }
  @media screen and (max-width: 500px) {
    margin-left: 2vw;
    font-size: 3vw;
  }
}

/* hq스타일 */
.hq {
  display: flex;
}

.sup {
  display: flex;
}

/* address 스타일 */
.address {
  flex-direction: column;  /* 서브 버튼을 세로로 정렬 */
  align-items: flex-start;  /* 왼쪽 정렬 */
  font-size: 1em;
  color: gray;
}

/*  hq1 스타일 수정 */
.hq1 {
  margin-bottom: 0.5em;
}

.hq1 img {
  width: 0.75em;
  height: 1.1em;
}

/*  hq2 스타일 수정 */
.hq2 {
  margin-bottom: 0.5em;
  margin-left: 2em;
}

/*  hq3 스타일 수정 */
.hq3 {
  margin-bottom: 0.5em;
  margin-left: 6em;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1300px) {
    margin-left: 0;
  }
}

.hq3 img {
  width: 1em;
  height: 0.75em;
}

/*  hq4 스타일 수정 */
.hq4 {
  margin-bottom: 0.5em;
  margin-left: 2em;
}

/* 수정중 */

.moreiconbutton {
  transition: all 0.3s ;
  list-style: none;
  text-decoration: none; /*링크 밑줄 제거*/ 

  &:hover {
  }
}

.headerinner {
  position:relative;
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:100%;
  margin:0px auto;
  padding: 0 14vw;
  @media screen and (max-width : 700px) {
    padding: 0 2%;
  }
}
.hoverimage {
  transform: translateX(-5vw);
  /* 시작 위치 지정 */
  /* fadein, 이동, 확대 애니메이션 효과 설정 */
  transition: transform 1.5s ease;
  /* 왼쪽에서 오른쪽으로 이동함 */
  /* transition: transform 5s ease;  5초 확대 */
}

.hoverimage:hover {
  transform: translateX(0);
  /* X축 이동을 0으로 변경하여 원래 위치로 이동 */
  /* transform: scale(1.1);  확대 */
}