body {
  margin: 0 !important;
  overflow-x: hidden;
}
 /*justify-content: flex-end;*/
  /* 섹션 스타일 */
.section {
height: 100vh; /* 화면 높이만큼 섹션 높이 설정 */
display: flex;
align-items: flex-end; /* 가로로 배치하고 아래로 정렬 */
justify-content: center;/*가운데로 정렬*/
background-color: white;

}

  /* 섹션 활성화 스타일 */
.active-section {
/* background-color: lightgray;*/
}


.text-overlay p {  
  /*margin: 0;*/
}
/* 1section */
.section1 {
  padding: none; /* 텍스트 주변 여백 설정 */
  background-image: url("/image/galaxy.png");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 100%;
}
.sec1title {
  font-size:3.1em;
  font-weight: bold;
  color: white;
  margin-left: 5em;
  }


/* 2section */

/* 2섹션 스타일 */
.section2 {
  padding: none; /* 텍스트 주변 여백 설정 */
  background-image: url("/image/yellow.jpg");
  background-size: cover; 
  background-repeat: no-repeat;
  background-position: center top;
  width: 100%;
  height: 100%;
}

/* 2섹션 초록 박스 스타일 */
.green-box {
  width: 6.5em; /* 네모 상자의 너비 설정 */
  height: 1.5em; /* 네모 상자의 높이 설정 */
  background-color: rgb(136, 209, 0); /* 초록색 배경색 설정 */
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8.2em;
  margin-left: 12em;
  margin-bottom: 2em;
  opacity: 0; /* 처음에는 안 보이게 설정 */
  transform: translateX(-60px); /* 시작 위치 지정 */
  /* fadein 애니메이션 효과 설정 */
  transition: opacity 1s ease, transform 2s ease;
}


.green-box.in-view {
  opacity: 1; /* 투명도를 1로 변경하여 나타나게 함 */
  transform: translateX(0); /* Y축 이동을 0으로 변경하여 원래 위치로 이동 */
}

/* 2섹션 초록박스 텍스트 스타일 */
.green-box-text {
  color: black; /* 흰색 글자색 설정 */
  font-size: 0.9em; /* 글자 크기 설정 */
  font-weight: bold;
}

/* 2섹션 world leading 텍스트 스타일 */
.subtitle {
  font-size: 3.1em;
  font-weight: bold;
  margin-left: 3.8em;
  color: white;
  opacity: 0; /* 처음에는 안 보이게 설정 */
  transform: translateY(30px); /* 시작 위치 지정 */
  /* fadein 애니메이션 효과 설정 */
  transition: opacity 1s ease, transform 2s ease;
}

.subtitle.in-view {
  opacity: 1; /* 투명도를 1로 변경하여 나타나게 함 */
  transform: translateY(0); /* Y축 이동을 0으로 변경하여 원래 위치로 이동 */
}

/* 2섹션 innovation 텍스트 스타일 */
.description {
  font-size: 1.2em;
  margin-left: 10em;
  color: white;
  opacity: 0; /* 처음에는 안 보이게 설정 */
  transform: translateY(45px); /* 시작 위치 지정 */
  /* fadein 애니메이션 효과 설정 */
  transition: opacity 1s ease, transform 2s ease;
}

.description.in-view {
  opacity: 1; /* 투명도를 1로 변경하여 나타나게 함 */
  transform: translateY(0); /* Y축 이동을 0으로 변경하여 원래 위치로 이동 */
}

/* 2섹션 history box 텍스트 스타일 */
.topics-container {
  display: flex;
  justify-content: space-between; 
  margin: 1.5em 11em 6em 12em; 
  opacity: 0; /* 처음에는 안 보이게 설정 */
  transform: translateY(60px); /* 시작 위치 지정 */
  /* fadein 애니메이션 효과 설정 */
  transition: opacity 1s ease, transform 2s ease;
}

.topics-container.in-view {
  opacity: 1; /* 투명도를 1로 변경하여 나타나게 함 */
  transform: translateY(0); /* Y축 이동을 0으로 변경하여 원래 위치로 이동 */
}

/* 2섹션 historyof 글 텍스트 스타일 */
.topic-title,
.topic-number {
  margin: 0; 
}

.topic-title{
  margin-top: 5em;
 color: rgb(255, 238, 202);
}

.topic-number {
  color: white;
  font-weight: bold;
  font-size: 5.2em;
}

/* 2섹션 아이콘 콘테이너 스타일 */
.icon-container {
  display: flex;
  overflow-x: hidden;
  position: absolute;
  top: 179.8%;
  justify-content: space-between; 
  align-items: flex-end;
  width: 100%;
  background-color: white;
}

.section2-icon {
  border: none;
  background-color: transparent;
  font-size: 0.9em;
  font-weight: bold;
  margin-top: 2.7em;
  margin-bottom: 2.7em;
  cursor: pointer;
}

.section2-icon .section2icon-description {
  transition: color 0.5s ease; /* 색상 변화 시간과 속도 설정 */
}

.section2-icon:hover .section2icon-description {
  color: rgb(136, 209, 0);
}

/* 2섹션 버튼 스타일 */
.prev-button,
.next-button {
  width: 3.5em;
  height: 3.5em;
  background-color: white;
  border-radius: 50%;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5); /* 그림자 추가 */
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin: 0 8em 5.2em 8em; /* 버튼과 아이콘 사이 간격 설정 */
}

/* 2섹션 버튼 내부 스타일 */
.button-inner {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.2em;
}

/* 2섹션 화살표 아이콘 스타일 */
.leftarrow {
  margin-right: 0.2em;
  margin-bottom: 0.12em;
  font-weight: bold;
  color: lightgray;
}

/* 2섹션 화살표 아이콘 스타일 */
.rightarrow {
  margin-left: 0.2em;
  margin-bottom: 0.12em;
  font-weight: bold;
  color: lightgray;
}


/* 3section */

/*3섹션 타이틀 스타일*/
.title { 
  font-weight: bold;
  font-size: 3.5em;
  margin-bottom: 0.2em;
  margin-left: 3.5em;
  opacity: 0; /* 처음에는 안 보이게 설정 */
  transform: translateY(40px); /* 시작 위치 지정 */
  /* fadein 애니메이션 효과 설정 */
  transition: opacity 1s ease, transform 2s ease;
}

.title.in-view {
  opacity: 1; /* 투명도를 1로 변경하여 나타나게 함 */
  transform: translateY(0); /* Y축 이동을 0으로 변경하여 원래 위치로 이동 */
}

.sec3description {
  margin-left: 12.5em;
  margin-bottom: 4em;
  opacity: 0; /* 처음에는 안 보이게 설정 */
  transform: translateY(50px); /* 시작 위치 지정 */
  /* fadein 애니메이션 효과 설정 */
  transition: opacity 1.2s ease, transform 2.5s ease;
}

.sec3description.in-view {
  opacity: 1; /* 투명도를 1로 변경하여 나타나게 함 */
  transform: translateY(0); /* Y축 이동을 0으로 변경하여 원래 위치로 이동 */
}

/* 3섹션 이미지 컨테이너 스타일 */
.image-container {
  cursor: pointer; /* 포인터 커서로 변경 */
  overflow: hidden;
  display: flex;
  width: 100%; /* 컨테이너의 너비를 화면 너비에 맞춥니다. */
  object-fit: cover; /* 이미지가 잘리지 않고 화면에 맞게 크기 조정 */
  opacity: 0; /* 처음에는 안 보이게 설정 */
  transform: translateY(70px); /* 시작 위치 지정 */
  /* fadein 애니메이션 효과 설정 */
  transition: opacity 1.5s ease, transform 3s ease;
}

.image-container.in-view {
  opacity: 1; /* 투명도를 1로 변경하여 나타나게 함 */
  transform: translateY(0); /* Y축 이동을 0으로 변경하여 원래 위치로 이동 */
}

/* 3섹션 이미지 스타일 */
.image-container img{
  height: 75vh; /*높이 설정 */
  max-width: 100%;
}

.image-button {
  display: flex;
  max-width: 100%; /* 이미지 버튼의 너비를 100%로 설정 */
}

.image-overlay {
  position: absolute;
  bottom: 0;
  background: transparent; /* 투명한 배경 */
  color: white;
  max-width: 100%;
  opacity: 1;
  text-align: left; /* 왼쪽 정렬 */
  padding: 2.2em; /* 여백 추가 */
  z-index: 9999;
}

.place {
}

.building {
  margin: 0;
  padding: 0;
  font-size: 1.5em;
  font-weight: bold;
  white-space: pre;
}

.hoverimage-container {
  position: relative;
  overflow: hidden;
}

.hoverimage-overlay {
  position: absolute;
  bottom: -30%;
  width: 100%;
  background: yellow; /* 노란색 배경 */
  color: black;
  text-align: left; /* 왼쪽 정렬 */
  padding: 2.2rem; /* 여백 추가 */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  /* fadein 애니메이션 효과 설정 */
  opacity: 0; /* 처음에는 안 보이게 설정 */
  transition: opacity 2s ease , bottom 2s ease;
}

.hoverimage-container:hover .hoverimage-overlay {
  bottom: 0; /* 호버 상태에서 0으로 이동 (보여짐) */
  opacity: 1;
}

.hoverplace {
}

.hoverbuilding {
  font-size: 1.5em;
  font-weight: bold;
}

/* 3섹션 "hover read more" 버튼 스타일 */
.hoverread-more-button {
  background-color: transparent; /* 배경색 투명 설정 */
  margin-top: 1.5em;
  border: none; /* 테두리 제거 */
  cursor: pointer;
}

.hoverread-more-button:hover .hoverread-more-text{
  letter-spacing: 0.3em; /* 마우스 호버 시 letter-spacing를 증가시킵니다. */
}

/* 3섹션 "hoverread more" 버튼 텍스트 스타일 */
.hoverread-more-text {
  color: orange; /* 텍스트 색상 설정 */
  font-size: 1.5em; /* 텍스트 크기 설정 */
  margin-right: 1.2em; /* 우측 여백 설정 */
  transition: letter-spacing 0.5s ease; /* 호버 시 letter-spacing에 효과를 추가합니다. */
}

/* 3섹션 "hoverread more" 화살표 아이콘 스타일 */
.hoverarrow-icon {
  font-size: 24px; /* 아이콘 크기 설정 */
  color: orange;
  font-weight: bold;
}

/* 4section */
.news-list {
  margin-bottom: 3em;
}

.news-row {
  display: flex;
  text-align: left;
  justify-content: space-around ;
  margin: 0 5em 0 5.2em;
}

/* 뉴스 아이템들 스타일 */
.news-item {
  position: relative; /* 상대 위치 지정 */
  box-sizing: border-box;
  background-color: transparent;
  text-decoration: none;
  width: 33%;
  margin: 0 1em 2em 1em;
  cursor: pointer;
  opacity: 0; /* 처음에는 안 보이게 설정 */
  transform: translateY(30px); /* 시작 위치 지정 */
  /* fadein 애니메이션 효과 설정 */
  transition: opacity 1s ease, transform 2s ease;
}

/* news-item이 화면에 들어올 때 fadein 애니메이션 적용 */
.news-item.in-view {
  opacity: 1; /* 투명도를 1로 변경하여 나타나게 함 */
  transform: translateY(0); /* Y축 이동을 0으로 변경하여 원래 위치로 이동 */
}

.news-item:hover .news-more-link{
  letter-spacing: 0.2em; /* 마우스 호버 시 letter-spacing를 증가시킵니다. */
}

.news-item:hover .news-title {
  transition: color 0.2s ease;
  color: rgb(0, 104, 232); /* 호버 시 텍스트 색상을 흰색으로 변경 */
}
/* 뉴스 박스 스타일 */
.news-box {
  width: 3.5em; /* 네모 상자의 너비 설정 */
  height: 1.6em; /* 네모 상자의 높이 설정 */
  background-color: rgb(0, 104, 232); /* 초록색 배경색 설정 */
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 뉴스 스타일 */
.news-text {
  color: white; /* 흰색 글자색 설정 */
  font-size: 1em; /* 글자 크기 설정 */
}

.news-title {
  font-size: 1em;
  flex-wrap: wrap;
  -webkit-box-orient: vertical;
  color: gray;
}


/* news date 스타일 */
.news-date {
  color: gray;
  margin-bottom: 1.5em;
  font-size: 1.1em;
}

/* read more link 스타일 */
.news-more-link {
  font-size: 1.13em;
  color: orange;
  transition: letter-spacing 0.5s ease; /* 호버 시 letter-spacing에 효과를 추가합니다. */
}

/* 2섹션 "read more" 화살표 아이콘 스타일 */
.arrow-icon {
  font-size: 24px; /* 아이콘 크기 설정 */
  margin-left: 0.7em;
  color: orange;
  font-weight: bold;
}

.youtube-button-container {
  text-align: center; /* 가운데 정렬을 위해 텍스트 정렬을 사용합니다. */
  margin-bottom: 6em; /* 버튼과 내용 사이의 간격을 조절합니다. */
  opacity: 0; /* 처음에는 안 보이게 설정 */
  transform: translateY(50px); /* 시작 위치 지정 */
  /* fadein 애니메이션 효과 설정 */
  transition: opacity 2s ease, transform 3s ease;
}


/* news-item이 화면에 들어올 때 fadein 애니메이션 적용 */
.youtube-button-container.in-view {
  opacity: 1; /* 투명도를 1로 변경하여 나타나게 함 */
  transform: translateY(0); /* Y축 이동을 0으로 변경하여 원래 위치로 이동 */
}

.youtube-button{
  border: 0.4em solid rgb(0, 104, 232);  /* 2px 두께의 녹색 실선 경계 추가 */
  display: inline-block; /* 인라인 블록 요소로 만들어 옆에 다른 요소가 올 수 있도록 합니다. */
  margin: 0; /* 여백 제거 */
  padding: none;
  transition: transform 0.3s ease; /* 마우스 호버 시 경계에 커지는효과를 추가합니다. */
}
.youtube-button:hover {
  transform: scale(1.1);
}
.youtube-button img{
  width: 12em;
  height: 11em;
}

/* 5section */
.sec5title {
  font-size: 2em;
  margin-bottom: 0.7em;
  text-align: center;
color: gray;
}

.bold-text {
  font-weight: bold;
}

.searchheerim-container {
  background-color: rgb(0, 104, 232);
  width: 100vw;
  padding-top: 4em;
}

.search-title {
  margin-left: 2.6em;
  font-size: 4.6em;
  font-weight: bold;
  color: orange;
  opacity: 0; /* 처음에는 안 보이게 설정 */
  transform: translateY(2em); /* 시작 위치 지정 */
  /* fadein 애니메이션 효과 설정 */
  transition: opacity 1s ease, transform 2s ease;
}

/* .search-title이 화면에 들어올 때 fadein 애니메이션 적용 */
.search-title.in-view {
  opacity: 1; /* 투명도를 1로 변경하여 나타나게 함 */
  transform: translateY(0); /* Y축 이동을 0으로 변경하여 원래 위치로 이동 */
}

.search-title2 {
  font-size: 4.6em;
  font-weight: bold;
  color: white;
  opacity: 0; /* 처음에는 안 보이게 설정 */
  transform: translateY(1.5em); /* 시작 위치 지정 */
  /* fadein 애니메이션 효과 설정 */
  transition: opacity 1s ease, transform 3s ease;

}

/* .search-title2이 화면에 들어올 때 fadein 애니메이션 적용 */
.search-title2.in-view {
  opacity: 1; /* 투명도를 1로 변경하여 나타나게 함 */
  transform: translateY(0); /* Y축 이동을 0으로 변경하여 원래 위치로 이동 */
}

.searchsub {
  margin-left: 11em;
  font-size: 1.1em;
  color: rgb(195, 198, 202);
  opacity: 0; /* 처음에는 안 보이게 설정 */
  transform: translateY(2em); /* 시작 위치 지정 */
  /* fadein 애니메이션 효과 설정 */
  transition: opacity 1s ease, transform 3s ease;
}

/* .searchsub 화면에 들어올 때 fadein 애니메이션 적용 */
.searchsub.in-view {
  opacity: 1; /* 투명도를 1로 변경하여 나타나게 함 */
  transform: translateY(0); /* Y축 이동을 0으로 변경하여 원래 위치로 이동 */
}

/* 검색 입력란 스타일링 */
.searchheerim-input {
  background: transparent; /* 투명 배경 추가 */
  border: none;
  border-bottom: 0.3em solid white; /* 하단 테두리 추가 (선택 사항) */
  width: 60%; /* 검색창의 가로 너비 조정 */
  height: 1.8em;
  font-size: 1.2em; /* 폰트 크기 키우기 */
  margin-top: 2.5em; /* 위쪽 여백 추가 */
  margin-left: 9.8em; /* 왼쪽 여백 추가 */
  padding-left: 1.2em;
  opacity: 0; /* 처음에는 안 보이게 설정 */
  transform: translateY(50px); /* 시작 위치 지정 */
  /* fadein 애니메이션 효과 설정 */
  transition: opacity 2s ease, transform 4s ease;
}

.searchheerim-input.in-view {
  opacity: 1; /* 투명도를 1로 변경하여 나타나게 함 */
  transform: translateY(0); /* Y축 이동을 0으로 변경하여 원래 위치로 이동 */
}

.searchheerim-input::placeholder {
  color: white;
}

.searchheerim-button {
  cursor: pointer;
}

.searchtag-keywords {
  padding: 5em 0 6em 12em;
  opacity: 0; /* 처음에는 안 보이게 설정 */
  transform: translateY(6em); /* 시작 위치 지정 */
  /* fadein 애니메이션 효과 설정 */
  transition: opacity 3s ease, transform 5s ease;
}

.searchtag-keywords.in-view {
  opacity: 1; /* 투명도를 1로 변경하여 나타나게 함 */
  transform: translateY(0); /* Y축 이동을 0으로 변경하여 원래 위치로 이동 */
}

/*검색태그 키워드 버튼*/
.searchtag-button {
border: none; /* 외곽선 없애기 */
font-size: 1em;
background-color: transparent;
border-radius: 50px; /* 50px 반지름으로 둥글게 */
margin: 0 0.5em 0 0; /* 버튼 간격 설정 */
}

.searchtag-button a{
  color: rgb(195, 198, 202);
text-decoration: none;
transition: color 0.3s; /* 배경색 전환 애니메이션 */

/* 호버 상태일 때 글자색 변경 */
&:hover {
    color: white;
}
}

.seoulhqsupport {
  display: flex;
  margin-bottom: 5em;
  margin-left: 10em;
}

.bottom {
  margin-top: 6em;
}

/* hq스타일 */
.hq {
display: flex;
}

.sup {
  display: flex;
}

/* address 스타일 */
.address {
display: flex;
flex-direction: column; /* 서브 버튼을 세로로 정렬 */
align-items: flex-start; /* 왼쪽 정렬 */
font-size: 1em;
color: gray;
}

/*  hq1 스타일 수정 */
.hq1 {
  margin-bottom: 0.5em;
}

.hq1 img{
  width: 1em;
  height: 1em;
}
/*  hq2 스타일 수정 */
.hq2 {
  margin-bottom: 0.5em;
  margin-left: 2em;
}

/*  hq3 스타일 수정 */
.hq3 {
  margin-bottom: 0.5em;
  margin-left: 3em;
}

.hq3 img {
  width: 1em;
  height: 1em;
}

/*  hq4 스타일 수정 */
.hq4 {
  margin-bottom: 0.5em;
  margin-left: 2em;
}

/* 수정중 */

.hoverimage {
  transform: translateX(-5vw); /* 시작 위치 지정 */
  /* fadein, 이동, 확대 애니메이션 효과 설정 */
  transition: transform 1.5s ease; /* 왼쪽에서 오른쪽으로 이동함 */
  /* transition: transform 5s ease;  5초 확대 */
}

.hoverimage:hover {
  transform: translateX(0); /* X축 이동을 0으로 변경하여 원래 위치로 이동 */
 /* transform: scale(1.1);  확대 */
}
