@import url(https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@2.0/nanumsquare.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&family=Playfair+Display&display=swap');

.headerinner {
  position:relative;
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:100%;
  margin:0px auto;
  padding: 0 10vw;
  @media screen and (max-width : 700px) {
    padding: 0 2%;
  }
}
body {
  font-size: 14px;
  font-family: 'Noto Sans KR', sans-serif;
  margin: 0 !important;
  overflow-x: hidden;
}
/* 애니메이션 up */
.animatedup {
  opacity: 0; /* 초기에 숨겨진 상태로 설정 */
  transform: translateY(50px); /* 아래로 이동하는 변환 설정 */
  transition: opacity 1s ease, transform 2s ease; 
}

.animatedup.in-view {
  opacity: 1; /* 화면에 나타날 때 투명도를 1로 변경 */
  transform: translateY(0); /* 화면에 나타날 때 변환 초기값으로 복원 */
}

/* 애니메이션 down */
.animateddown {
  opacity: 0; /* 초기에 숨겨진 상태로 설정 */
  transform: translateY(-50px); /* 아래로 이동하는 변환 설정 */
  transition: opacity 1s ease, transform 2s ease; 
}

.animateddown.in-view {
  opacity: 1; /* 화면에 나타날 때 투명도를 1로 변경 */
  transform: translateY(0); /* 화면에 나타날 때 변환 초기값으로 복원 */
}

.animatedright {
  opacity: 0; /* 초기에 숨겨진 상태로 설정 */
  transform: translateX(-60px);
  transition: opacity 1s ease, transform 2s ease; 
}

.animatedright.in-view {
  opacity: 1; /* 화면에 나타날 때 투명도를 1로 변경 */
  transform: translateX(0); /* 화면에 나타날 때 변환 초기값으로 복원 */
}

/* CSS Keyframes를 사용한 글자 위아래 움직임 애니메이션 */
@keyframes moveUpDown {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px); /* 이 값은 글자가 움직이는 거리를 조절합니다. */
  }
}
@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
}

.zoomInOut {
  animation: zoomInOut 10s infinite linear;
}
/* 추가로 필요한 스타일 속성들을 여기에 추가할 수 있습니다. */

/* 1section sec1 1섹션 스타일 */
.wheelcontainer {
  height: 100vh;
}
/* justify-content: flex-end; */
/* 2section sec2 2섹션 스타일  */
.blue {
  position: relative;
  display: table;
  height: 100%;
  width: 100%;
  vertical-align: middle;
}
.blueinner {
  margin: 0;
}
.yellow-box {
  width: 6.5em;  /* 네모 상자의 너비 설정 */
  height: 1.5em;  /* 네모 상자의 높이 설정 */
  background-color: rgb(255, 194, 0);  /* 노란색 배경색 설정 */
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: 12vh;
  margin-left: 11vw;
  display: flex;
  justify-content: center;
  align-items: center;
  @media screen and (height >= 860px) {
    margin-top: 22vh;
  }
}

/* yellow 노란박스 텍스트 스타일 */
.yellow-box-text {
  color: black;  /* 검정색 글자색 설정 */
  font-size: 1em;  /* 글자 크기 설정 */
  font-weight: bold;
}

/* 2섹션 Follow 텍스트 스타일 */
.subtitle {
  padding: none;
  font-size: 3.333vw;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  color: white;
  margin-left: 11vw;
  @media screen and (height <= 630px) {
    font-size: 3.5em;
  }
}

/* 2섹션 innovation 텍스트 스타일 */
.description {
  font-size: 1.333vw;
  color: white;
  margin-top: 2vw;
  margin-left: 11vw;
  @media screen and (height <= 630px) {
    margin-top: 0.5em;
  }
}

/* 2섹션 history box 텍스트 스타일 */
.topics-container {
  display: flex;
  justify-content: space-between;
  margin-left: 1em;
    @media screen and (width >= 800px) {
      margin-left: 12vw;
      margin-right: 12vw;
    }
}

/* 2섹션 historyof 글 텍스트 스타일 */
.topic-title,
.topic-number {
  margin: 0 3vh 0 0;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 800px) {
    margin-right: 0.2em;
  }
}

.topic-title {
  margin-top: 8vh;
  color: rgb(255, 194, 0);

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 900px) {
    font-size: 0.8em;
  }
}

.topic-number {
  color: white;
  font-weight: bold;
  font-size: 5.2em;
  margin-bottom: 0.3em;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1400px) {
    font-size: 5.5vw;
  }
}

.section2-icon .section2icon-description {
  transition: color 0.5s ease;
  /* 색상 변화 시간과 속도 설정 */
}

.section2-icon:hover .section2icon-description {
  color: rgb(0, 104, 232);
}

/* 3section sec3 */

.sec3txt {
  display: table;
  height: 15vh;
  margin-left: 10vw;
}

/*3섹션 타이틀 스타일*/
.title {
  font-weight: bold;
  font-size: 3vw;
  font-family: 'Playfair Display', serif;
}

.sec3description {

}

/* 4section sec4 */
.newslistwrap {
  padding: 12vh 5% 0;
    /* 미디어 쿼리를 사용하여 스타일 변경 */
    @media screen and (max-height: 750px) {
      padding: 0;
    }
}
.news-list {
  margin-top: 2vh;
}

.news-row {
  display: flex;
  text-align: left;
  justify-content: space-around;
  margin: 0 5em 0 5.2em;
}

/* 뉴스 아이템들 스타일 */
.news-item {
  background-color: transparent;
  text-decoration: none;
  width: 33%;
  margin: 0 1em 2em 1em;
  cursor: pointer;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-height: 600px) {
    margin: 0 0 10px 0;
  }
}

.news-item:hover .news-more-link {
  letter-spacing: 0.2em;  /* 마우스 호버 시 letter-spacing를 증가시킵니다. */
}

.news-item:hover .news-title {
  transition: color 0.2s ease;
  color: rgb(0, 104, 232);  /* 호버 시 텍스트 색상을 파랑색으로 변경 */
}

/* 뉴스 박스 스타일 */
.news-box {
  width: 3.5em;  /* 네모 상자의 너비 설정 */
  height: 1.6em;  /* 네모 상자의 높이 설정 */
  background-color: rgb(0, 104, 232);  /* 파랑색 배경색 설정 */
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 500px) {
    width: 11vw;    /* 네모 상자의 너비 설정 */
    height: 5vw;    /* 네모 상자의 높이 설정 */
  }
  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 600px) {
    width: 8.7vw;    /* 네모 상자의 너비 설정 */
    height: 3.7vw;    /* 네모 상자의 높이 설정 */
  }
}

/* 뉴스 스타일 */
.news-text {
  color: white;  /* 흰색 글자색 설정 */
  font-size: 1em;  /* 글자 크기 설정 */

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 600px) {
    font-size: 2.6vw;
  }
}

.news-title {
  font-size: 1em;
  font-family: 'NanumSquare', sans-serif; /* 나눔스퀘어 글꼴 */
  color: gray;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1000px) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;
  }
  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-height: 650px) {
    margin: 3px 0 0 0;
  }
}

/* read more link 스타일 */
.news-more-link {
  font-size: 1.13em;
  color: #FFC217;
  transition: letter-spacing 0.5s ease;  /* 호버 시 letter-spacing에 효과를 추가합니다. */

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 500px) {
    font-size: 2vw;
  }
  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 600px) {
    font-size: 0.7em;
  }
}

/* 4섹션 "read more" 화살표 아이콘 스타일 */
.arrow-icon {
  font-size: 24px;  /* 아이콘 크기 설정 */
  margin-left: 0.7em;
  color: #FFC217;
  font-weight: bold;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 500px) {
    font-size: 2vw;
  }
  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 600px) {
    font-size: 0.7em;
  }
}

.newsbutton-container {
  justify-content: space-evenly;
  margin: 0 auto;  /* 가운데 정렬을 위해 텍스트 정렬을 사용합니다. */
  border: none; /* solid gray 1px; */
  border-radius: 20px;
  padding-top: 10px;
  padding-bottom: 10px;  /* 버튼과 내용 사이의 간격을 조절합니다. */
  width: 98%;
  display: flex;

  @media screen and (min-height: 800px) {
    margin-bottom: 5em;    /* 버튼과 내용 사이의 간격을 조절합니다. */
  }
}

.newsbutton {
  display: flex;
  max-width: 100%;
  padding: none;
  transition: transform 0.3s ease;  /* 마우스 호버 시 경계에 커지는효과를 추가합니다. */
}

.newsbutton:hover {
  transform: scale(1.1);
}

.newsbutton img {
  max-width: 100%;
 border-radius: 20px;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-height: 450px) {
    width: 15em;
    height: 8em;
  }

}

/* 5section */
.sec5title {
  font-size: 2.5em;
  font-family: 'Noto Sans KR', sans-serif;
  margin-bottom: 3.5vh;
  text-align: center;
  color: gray;
  letter-spacing: -0.07em;

}

.bold-text {
  font-weight: bold;
}
.searchwraparea {
  padding: 0 12vw 0 12vw;
}
.searchheerim-container {
  background-color: rgb(0, 104, 232);
  width: 100vw;
  padding-top: 8vh;
  @media only screen and (max-height: 700px) {
    padding-top: 4vh;
  }
}

.search-title {
  font-size: 4.8em;
  font-weight: bold;
  color: #FFC200;
  font-family: 'Noto Sans KR', sans-serif;

/* 
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Pragati Narrow', sans-serif;
*/

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1250px) {
    font-size: 4em;
    margin-left: 15vw;
  } /* 쓸모없는 코드? */

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1000px) {
    font-size: 5vw;
  }
}

.search-title2 {
  font-size: 4.8em;
  font-weight: bold;
  color: white;  
  font-family: 'Noto Sans KR', sans-serif;

  /* 
  font-family: 'Archivo Narrow', sans-serif;
  font-family: 'Oswald', sans-serif;
  font-family: 'Pragati Narrow', sans-serif;
  */

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1250px) {
    font-size: 4em;
  } /* 쓸모없는 코드? */
  @media screen and (max-width: 1000px) {
    font-size: 5.8vw;
  }
}

.searchsub {
  margin: 0 0 7.2vh 0;
  font-size: 1.1em;
  color: #CACACA;
  font-family: 'Noto Sans KR', sans-serif;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1000px) {
    font-size: 5.8vw;
  }
  @media screen and (max-width: 1250px) {
    font-size: 1em;
    margin-left: 15vw;
  }
}
.searchheerim {
}

/* 검색 입력란 스타일링 */
.searchheerim-input {
  background: transparent;/* 투명 배경 추가 */
  border: none;
  width: 75%;/* 검색창의 가로 너비 조정 */
  font-size: 1.2em;/* 폰트 크기 키우기 */
  padding-left: 1.2em;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1250px) {
    width: 50vw; /* 검색창의 가로 너비 조정 */
    margin-left: 15vw;
  }
}

.searchheerim-input::placeholder {
  color: white;
}

.searchtag-keywords {
  padding: 0 0 8vh 0;
  font-family: 'Noto Sans KR', sans-serif;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1250px) {
    font-size: 1.5vw;
    padding: 1vw 0 2vw 14.5vw;
  }
}

/*검색태그 키워드 버튼*/
.searchtag-button {
  border: none;  /* 외곽선 없애기 */
  font-size: 1.2em;
  letter-spacing: 0.06em;
  background-color: transparent;
  border-radius: 50px;  /* 50px 반지름으로 둥글게 */
  margin: 0 1.5em 0 0;  /* 버튼 간격 설정 */
  padding: 0;
}

.searchtag-button a {
  color: #CACACA;
  text-decoration: none;
  transition: color 0.3s;  /* 글자색 전환 애니메이션 */

  /* 호버 상태일 때 글자색 변경 */
  &:hover {
    color: white;
  }
}

.bottom {
  position: relative;
  margin-top: 6vh;
}

.seoulhqsupport {
  display: flex;
  padding: 0px 0 0 12vw;
  margin-top: 8vh;
  margin-bottom: 10vh;
  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1250px) {
    flex-direction: column;
    margin-bottom: 2em;
    margin-left: 7em;
  }
  @media screen and (max-width: 500px) {
    margin-left: 2vw;
    font-size: 3vw;
  }
}

/* hq스타일 */
.hq {
  display: flex;
}

.sup {
  display: flex;
}

/* address 스타일 */
.address {
  flex-direction: column;  /* 서브 버튼을 세로로 정렬 */
  align-items: flex-start;  /* 왼쪽 정렬 */
  font-size: 1.15em;
  color: gray;
  
  @media screen and (max-width: 550px) {
    font-size: 3.25vw;
  }
}

/*  hq1 스타일 수정 */
.hq1 {
  margin-bottom: 0.5em;
}

.hq1 img {
  width: 0.75em;
  height: 1.1em;
}

/*  hq2 스타일 수정 */
.hq2 {
  margin-bottom: 0.5em;
  margin-left: 2em;
}

/*  hq3 스타일 수정 */
.hq3 {
  margin-bottom: 0.5em;
  margin-left: 1.5vw;

  /* 미디어 쿼리를 사용하여 스타일 변경 */
  @media screen and (max-width: 1280px) {
    margin-left: 0;
  }
}

.hq3 img {
  width: 1em;
  height: 0.75em;
}

/*  hq4 스타일 수정 */
.hq4 {
  margin-bottom: 0.5em;
  margin-left: 2em;
}

/* 수정중 */
.main-project-list-container {
  position: relative;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  padding-top: 85vh;
}
.accordion-wrapper {
  display: block;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.accordion-bg-list-container {
  display: block;
  height: 100%;
}
.accordion-bg-list {
  position: relative;
  list-style: none;
  height: 100%;
  margin: 0;
  padding: 0;
}
.accordion-bg-item {
  position: absolute;
  top: 0px;
  width: 25%;
  height: 100%;
  overflow: hidden;
}
.accordion-bg-list .accordion-bg-item .accordion-inner {
  display: block;
  position: relative;
  width: 100vw;
  height: 100%;
  margin: 0;
  background-size: cover !important;
}
.accordion-bg-list .accordion-bg-item .accordion-outer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.2s ease;
}

.accordion-bg-list .accordion-bg-item.active .accordion-outer {
  opacity: 0;
  z-index: 0;
  transform: scale(1.05) rotate(0.002deg);
}



/* 일단 만들어둔 이미지 오버레이 위 텍스트 */
.accordion-over-container {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  z-index: 2;
}
.accordion-over-container :hover{
  .accordion-off-tit-box {
    opacity: 0;
    transform: translate(0px, 100%);
    transition: all 0.25s ease-in-out;
  }
}
.accordion-over-list {
  list-style: none;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding: 0;
  margin: 0;
}
.accordion-over-item {
  background: none !important;
  float: left;
  position: relative;
  width: 25%;
  height: 100%;
}
.accordion-over-item:before {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  content: "";
}
.accordion-inner-con {
  position: relative;
  display: block;
  height: 100%;
  a{
    text-decoration: none;
  }
}
.accordion-off-tit-box {
  visibility: inherit;
  position: absolute;
  bottom: 3em;
  left: 2.5em;
  right: 2.5em;
  color: #fff;
}
.project-category {
  display: block;
  font-size: 1em;
  letter-spacing: -0.15px;
  margin-bottom: 0.2em;
}
.project-tit {
  display: block;
  font-size: 1.8em;
  letter-spacing: -0.3px;
  font-weight: 700;
  margin: 0;
  padding: 0;
}
.accordion-detail-con {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 240px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  background: #ffe345;
  padding: 0 2.5em;
  box-sizing: border-box;
}
.accordion-detail-txt {
  color: #252525;
}
.read-more-btn {
  display: inline-block;
  position: relative;
  line-height: 30px;
  font-size: 1.333em;
  letter-spacing: -0.15px;
  color: #ff8500;
  :hover {
    em{
      letter-spacing: 1em;
    }
  }
  em{
    position: relative;
    transition: all 0.7s;
  }
  i {
    position: relative;
    top: 3px;
    margin-left: 1em;
    font-size: 1.23em;
    transition: all 0.7s;
  }
}
.read-more-btn:before {
  position: absolute;
  top: 50%;
  left: 0px;
  width: 40px;
  height: 40px;
  transform: translate(-50%, -50%);
  background-color: #fff2e5;
  content: "";
  border-radius: 50%;
  opacity: 0;
  transition: all 0.7s;
}
.read-more-btn:hover:before {
  opacity: 0.5;
}

.read-more-btn em,
.read-more-btn i {
  position: relative;
  transition: all 0.7s;
}

.read-more-btn i {
  margin-left: 1em;
  font-size: 1.4em;
}

.read-more-btn:hover:before {
  left: 93%;
}

.read-more-btn:hover i {
  transform: translateX(12px);
  letter-spacing: -0.15px;
}

.read-more-btn:hover em {
  letter-spacing: 1px;
}